:root {
    --color-primary: #4A90E2;    
    --color-secondary: #50E3C2;

    --color-text-dark: #333333;
    --color-text-light: #F8F8F8;
    --color-background-light: #F0F2F5;
    --color-background-dark: #2C3E50;
    --color-border: #D1D5DA;

    --color-success: #28A745;
    --color-error: #DC3545;    
    --color-warning: #FFC107; 
}