* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;   
    flex-grow: 1; 
}

.site-header {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

@media (max-width: 768px) {
    .main-container {
        padding: 15px;
    }

    .site-header {
        flex-direction: column;
        text-align: center;
    }
}