<footer class="bg-dark text-white-50 py-3 mt-auto border-top shadow-sm">
  <div class="container text-center">
    <span class="fw-bold text-white">&copy; 2025 Reino de NULLCATIA</span>
    <span class="mx-2">|</span>
    <span>Desarrollado para amantes del backend felino.</span>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" 
        integrity="sha512-u3fPA7V8qQkM+DKMwxjIq3f0R/c4cR4l0Fw+FwQJt4Fj3P+G4L/9m10eC4L9A9P+Q8L/4yA7Yg8/Q7+A7yQ7+" 
        crossorigin="anonymous"></script>

</body>
</html>